[submodule "InfinityLib-Standalone"]
    path = InfinityLib-Standalone
    url = https://github.com/ARVIN3108/InfinityLib-Standalone

[submodule "ColoredEnderChests"]
    path = Addons/ColoredEnderChests
    url = https://github.com/TheBusyBiscuit/ColoredEnderChests
[submodule "DyeBench"]
	path = Addons/DyeBench
	url = https://github.com/JasperChaseTOQ/DyeBench
[submodule "DyedBackpacks"]
    path = Addons/DyedBackpacks
    url = https://github.com/TheBusyBiscuit/DyedBackpacks
[submodule "DynaTech"]
    path = Addons/DynaTech
    url = https://github.com/ProfElements/DynaTech
[submodule "EcoPower"]
	path = Addons/EcoPower
	url = https://github.com/TheBusyBiscuit/EcoPower
[submodule "ExoticGarden"]
	path = Addons/ExoticGarden
	url = https://github.com/TheBusyBiscuit/ExoticGarden
[submodule "ExtraGear"]
    path = Addons/ExtraGear
    url = https://github.com/TheBusyBiscuit/ExtraGear
[submodule "ExtraHeads"]
    path = Addons/ExtraHeads
    url = https://github.com/TheBusyBiscuit/ExtraHeads
[submodule "ExtraTools"]
    path = Addons/ExtraTools
    url = https://github.com/Sfiguz7/ExtraTools
[submodule "FluffyMachines"]
	path = Addons/FluffyMachines
	url = https://github.com/NCBPFluffyBear/FluffyMachines
[submodule "Gastronomicon"]
	path = Addons/Gastronomicon
	url = https://github.com/SchnTgaiSpock/Gastronomicon
[submodule "HeadLimiter"]
    path = Addons/HeadLimiter
    url = https://github.com/J3fftw1/HeadLimiter
[submodule "InfinityExpansion"]
    path = Addons/InfinityExpansion
    url = https://github.com/Mooy1/InfinityExpansion
[submodule "Networks"]
    path = Addons/Networks
    url = https://github.com/Sefiraat/Networks
[submodule "PrivateStorage"]
    path = Addons/PrivateStorage
    url = https://github.com/TheBusyBiscuit/PrivateStorage
[submodule "SFCalc"]
    path = Addons/SFCalc
    url = https://github.com/Seggan/SFCalc
[submodule "SfChunkInfo"]
    path = Addons/SfChunkInfo
    url = https://github.com/FN-FAL113/SfChunkInfo
[submodule "SlimefunTranslation"]
	path = Addons/SlimefunTranslation
	url = https://github.com/GuizhanCraft/SlimefunTranslation
[submodule "SlimeHUD"]
	path = Addons/SlimeHUD
	url = https://github.com/SchnTgaiSpock/SlimeHUD
[submodule "SMG"]
    path = Addons/SMG
    url = https://github.com/Sefiraat/SMG
[submodule "SoundMuffler"]
	path = Addons/SoundMuffler
	url = https://github.com/Slimefun-Addon-Community/SoundMuffler