[submodule "InfinityLib-Standalone"]
    path = InfinityLib-Standalone
    url = https://github.com/ARVIN3108/InfinityLib-Standalone

[submodule "DynaTech"]
    path = Addons/DynaTech
    url = https://github.com/ProfElements/DynaTech
[submodule "ExtraTools"]
    path = Addons/ExtraTools
    url = https://github.com/Sfiguz7/ExtraTools
[submodule "Addons/FluffyMachines"]
	path = Addons/FluffyMachines
	url = https://github.com/NCBPFluffyBear/FluffyMachines
[submodule "InfinityExpansion"]
    path = Addons/InfinityExpansion
    url = https://github.com/Mooy1/InfinityExpansion
[submodule "Networks"]
    path = Addons/Networks
    url = https://github.com/Sefiraat/Networks
[submodule "SFCalc"]
    path = Addons/SFCalc
    url = https://github.com/Seggan/SFCalc
[submodule "SMG"]
    path = Addons/SMG
    url = https://github.com/Sefiraat/SMG